<h1>Create Event</h1>

<form method="post">
    <input name="title" placeholder="Title"><br>
    <textarea name="description"></textarea><br>
    <input name="date" placeholder="2025-01-01 10:00"><br>
    <input name="location" placeholder="Location"><br>
    <input name="seats" type="number"><br>

    <button>Create</button>
</form>